{% extends "layout.jinja2" %}

{% block content %}

<h1>Documentation</h1>

<a href="{{ request.route_path("doc", page="installation") }}">Installation and basics</a>
<p>Start here, install the server and learn the communication model</p>

<a href="{{ request.route_path("doc", page="first_application") }}">Quickstart - your first application</a>
<p>Learn how to make basic connection between your application and server.</p>

<a href="{{ request.route_path("doc", page="example_users_calls") }}">Example user calls</a>
<p>Learn how to create new users/connectsion and how to manage them.</p>

<a href="{{ request.route_path("doc", page="example_message_calls") }}">Example messaging calls</a>
<p>Send channel wide messages or private messages, global communication.</p>

<a href="{{ request.route_path("doc", page="http_server_configuration") }}">How to configure your HTTP server</a>
<p>How to run Channelstream behind nginx in production.</p>

    <a href="{{ request.route_path("doc", page="faq") }}">Frequently Asked Questions.</p>

{% endblock content %}
