{% extends "layout.jinja2" %}

{% block content %}

<h2>Minimal working example</h2>

<h3>Create JS client connection </h3>

<pre>
    import {ChannelStreamConnection} from '@channelstream/channelstream';
    let connection = new ChannelStreamConnection();
    connection.connectUrl = '/connect';
    connection.messageUrl = '/message';
    connection.websocketUrl = 'ws://127.0.0.1:8000/ws';
    connection.longPollUrl = 'http://127.0.0.1:8000/listen';
    connection.listenMessageCallback = (messages) => {
        for (let message of messages) {
            // do something with messages
        }
    };
    connection.channels = ["/index"];
    connection.connect();
</pre>

{% endblock content %}
