@import 'sanitize.css';
@import 'codehilite.css';

.codehilite pre {
  padding: 1em;
}

// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=BF360C

$primary_color: #424242;
$primary_color_text: #ffffff;
$primary_color_light: #6d6d6d;
$primary_color_dark: #1b1b1b;
$secondary_color: #bf360c;
$secondary_color_light: #f9683a;
$secondary_color_dark: #870000;
$secondary_color_text: #ffffff;

html {
  min-height: 100%;
}

body {
  background-color: $primary_color;
  background-size: cover;
  background-position: top center;
  color: $primary_color_text;
  line-height: 1.5em;
}

.global-container {
  max-width: 1200px;
  margin: auto;

  /* for sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outer-content {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

/* responsive images */
img{
  max-width: 100%;
}

a, a:link, a:visited {
  font-weight: bolder;
  color: $primary_color_text;
  text-decoration: none;
  &:hover{
    color: $secondary_color_light;
  }
}

header {
  margin: 0 0 2em 0;

  .project-name {
    font-size: 4em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
    text-align: center;
  }

  .subheading {
    font-size: 1.25em;
    text-align: center;
  }

  nav {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    a {
      display: inline-block;
      padding: 1em;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background-color: $secondary_color;
      }
      .fab, .fas{
        color: $secondary_color_light;
      }

    }

  }
}

.index-sections {
  @media (min-width: 700px) {
    display: flex;
  }

  section {
    @media (min-width: 700px) {
      flex-grow: 1;
      flex-basis: 0;
    }
    padding: 1em;
  }

  margin: 2em 0;

}

footer {
  margin: 2em 0 0 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05);
  ul{
    padding: 0;
  }

  li{
    list-style-type: none;
    list-style-position: unset;
    .fab, .fas{
      color: $secondary_color_light;
    }
  }
}

.index-drawing{
  text-align: center;
  margin: 3em 0;
}

.docs-flow-graph{
  float: right;
}
